<!-- include header -->
<%- include('include/_header') %>
    <!-- /include header -->

    <div class="addp">
        <h2 style="font-size: 28px;
        line-height: 45px;" class="text-dark">Edit Product</h2>
        <span style="    letter-spacing: 2px;
        color: darkgray;" class="text-light">Use the below for to add edit Product</span>
    </div>

    <form method="POST" id="edit_product">
        <div class="new-product">
            <div class="form-group">
                <label for="Name">Product Name</label>
                <input type="hidden" name="id" value="<%= product._id%>">
                <input type="text" name="name" value="<%= product.name%>" placeholder="">
            </div>


            <div class="form-group">
                <label for="Name">Product Price</label>
                <input type="text" name="price" value="<%= product.price%>" placeholder="">
            </div>
            <div style="margin : 15px 0px; font-size : 30px;" class="form-group">
                <label for="">Status</label>
                <div class="radio inline" style="display : inline; padding-left: 30px;">
                    <input type="radio" name="status" value="Active" <%=product.status=='Active' ?'checked': '' %> >
                    <label for="">Active</label>
                </div>
                <div class="radio inline" style="display : inline; padding-left: 30px;">
                    <input type="radio" name="status" value="Inactive" <%=product.status=='Inactive' ?'checked': '' %>>
                    <label for="">Inactive</label>
                </div>
            </div>
            <div class="form-group">
                <label for="Name">Product Description</label>
                <textarea name="detail" value="<%= product.detail%>" style="width: 100%; border: 1px solid lightslategray;
                    border-radius: 4px;
                    margin: 7px 0px;" id="" cols="30" rows="10"></textarea>
                <!-- <input type="text" name="name" placeholder=""> -->
            </div>
            <div class="form-group">
                <label for="Name">Users Allowed</label>
                <input type="text" name="users" placeholder="">
            </div>
            <div class="form-group">
                <label for="Name">No. Of Flats</label>
                <input type="number" name="flat" placeholder="">
            </div>
            <div class="form-group">
                <label for="Name">No. Of Transactions</label>
                <input type="text" name="transcations" placeholder="">
            </div>
            <div class="form-group">
                <label for="Name">Data Allowed</label>
                <input type="text" name="data_size" placeholder="">
            </div>
            <div class="form-group">
                <label for="Name">GST</label>
                <input type="number" name="gst" placeholder="%">
            </div>
            <div class="form-group">
                <label for="Name">Total</label>
                <input type="number" name="total" placeholder="">
            </div>
            <div>
                <button name="submit" class="btn">
                    Save
                </button>
            </div>
        </div>
    </form>



    



    <!-- include header -->
    <%- include('include/_footer') %>
        <!-- /include header -->